
body{
  height:100vh;
}
img{
  max-height:100%;
}
.disappear{
  transition: all 0.5s ease-in-out;
  max-height: 0;
  overflow: hidden;
}
.reappear{
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  max-height: 600px;
}
.page-wrapper{
  width: 100%;
}
.game-page-wrapper{
  background: black;
  /* background-image: url(http://wallportal.com/uploads/posts/baseball-field-background/baseball_field_background_010.jpg); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  height: 100vh;
}
.base-paths-wrapper{
  /* background-image: url(https://www.turfandrec.com/media/k2/items/cache/3e96d38302447f1cf99d475dfb5c308d_XL.jpg); */
  background-image: url(ballpark.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  height:100vh;
}
/* field */
.base{
  height:210px;
  width:180px;
  border: 1px solid red;
  background: rgba(250,250,250,0.3);
}
.flex-grid-1{
  display: flex;
  justify-content: center;
}
.flex-grid-3{
  display: flex;
  justify-content: space-between;
  margin:10px;
}
.playingcard-box{
  border: 5px solid black;
  /* animation: 3s pulseBorder infinite; */
  box-shadow: 0px 0px 10px 7px rgb(255, 0, 0), 0px 0px 10px 7px #fcfcfc;
  width: 95%;
  max-height: 100%;
  margin: 0 auto;
  border-radius: 4%;
  position: relative;
  overflow: hidden;
}
.on-base{
    position: absolute;
    bottom:0;
    right:0;
    padding:8%;
    border-radius: 50%;
    font-weight: bold;
    font-size: 20px;
    color:rgb(11, 243, 11);
    background: black;
}
.character-name{
  margin: 0;
  padding: 0;
  text-align: center;
  color: #40f436;
  width: 100%;
  background: rgb(4, 4, 4);
  position: absolute;
}
@keyframes pulseBorder {
  0% {
    border-color: red;
  }
  50%{
    border-color: black
  }
  100%{
    border-color: red;
  }
}
